* {
  font-family: 'Balsamiq Sans', cursive;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}
.subJudul {
  font-size: 20px;
}
/* .judul {
  font-size: 26px;
  font-weight: bold;
} */
p {
  font-size: 18px;
}
span {
  font-size: 18px;
}
.button-text{

  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #FFAB00;
  width: 80px;
  text-align: center;
  bottom: 0;
}
.button-text:hover{
  font-weight: bold;
}
